@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300&display=swap);* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 5px auto;
}
header .logo img {
  width: 100px;
}
header ul {
  margin-top: 5%;
  display: flex;
}
header ul li {
  padding: 0 5px;
}

main {
  background-color: #1c1c1c;
}
main .page {
  background-color: #1c1c1c;
  height: 100vh;
}
main .jumbotron {
  width: 100%;
  height: 300px;
  background-image: url("../img/jumbotron.jpg");
  background-position: top;
  background-size: cover;
}
main .blu {
  position: relative;
  background-color: #0182fa;
  height: 100px;
}
main .blu .img-singola {
  position: absolute;
  bottom: 30px;
  left: 400px;
  width: 120px;
}
main .info {
  background-color: white;
}
main .card-info {
  display: flex;
  justify-content: space-between;
}
main .card-info .card-text {
  width: 70%;
}
main .card-info .card-text .green-price {
  color: white;
  background-color: #55ba5a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .card-info .card-text .green-price .price {
  padding: 10px;
  border-right: 1px solid black;
  display: flex;
  justify-content: space-between;
  width: 85%;
}
main .card-info .card-text .green-price .available {
  padding: 10px;
}
main .card-info .card-img {
  text-align: right;
}
main .main-end {
  background-color: #0182fa;
  color: white;
  padding: 30px;
}
main .main-end ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .main-end ul li {
  display: flex;
}
main .main-end ul li img {
  width: 25px;
  height: 25px;
}
main .card-flex {
  display: flex;
  flex-wrap: wrap;
  background-color: #1c1c1c;
}
main .card-flex .card {
  text-align: left;
  color: white;
  width: calc(16.6666666667% - 10px);
  margin: 5px;
}
main .card-flex .card img {
  height: 50%;
}
main .button {
  margin: 0 45%;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: #0182fa;
  padding: 5px;
}