main{
    background-color: #1c1c1c;
    //homepage
    .page{
        background-color: #1c1c1c;
        height: 100vh;

    }
    .jumbotron{
        width: 100%;
        height: 300px;
        background-image: url('../img/jumbotron.jpg');
        background-position:top;
        background-size: cover;
    }
    .blu{
        background-color: #0182fa;
        height: 100px;
    }
    .main-end{
        background-color: #0182fa;
        color: white;
        padding: 30px;
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            li{
                display: flex;
            img{
                width: 25px;
                height: 25px;
            }
        }
        } 
    }
    //fumetti
    .card-flex{
        display: flex;
        flex-wrap: wrap;
        background-color: #1c1c1c;
        .card{
            text-align: left;
            color: white;
            width: calc((100% / 6) - 10px);
            margin: 5px;
            img{
                height: 50%;
            }
        }
    }
    .button{
        margin: 0 45%;
        text-align: center;
        text-decoration: none;
        color: white;
        background-color: #0182fa;
        padding: 5px;
    }
}