main{
    background-color: #1c1c1c;
    //homepage
    .page{
        background-color: #1c1c1c;
        height: 100vh;

    }
    .jumbotron{
        width: 100%;
        height: 300px;
        background-image: url('../img/jumbotron.jpg');
        background-position:top;
        background-size: cover;
    }
    //singolo-fumetto
    .blu{
        position: relative;
        background-color: #0182fa;
        height: 100px;
        .img-singola{
            position: absolute;
            bottom: 30px;
            left: 400px;
            width: 120px;
        }
    }
    .info{
        background-color: white;
    }
    .card-info{
        display: flex;
        justify-content: space-between;
        .card-text{
            width: 70%;
            .green-price{
                color: white;
                background-color: #55ba5a;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .price{
                    padding: 10px;
                    border-right: 1px solid black;
                    display: flex;
                    justify-content: space-between;
                    width: 85%;
                }
                .available{
                    padding: 10px;
                }
            }
        }
        .card-img{
            text-align: right;
        }
    }
    
    .main-end{
        background-color: #0182fa;
        color: white;
        padding: 30px;
        ul{
            display: flex;
            justify-content: space-between;
            align-items: center;
            li{
                display: flex;
            img{
                width: 25px;
                height: 25px;
            }
        }
        } 
    }
    //fumetti
    .card-flex{
        display: flex;
        flex-wrap: wrap;
        background-color: #1c1c1c;
        .card{
            text-align: left;
            color: white;
            width: calc((100% / 6) - 10px);
            margin: 5px;
            img{
                height: 50%;
            }
        }
    }
    .button{
        margin: 0 45%;
        text-align: center;
        text-decoration: none;
        color: white;
        background-color: #0182fa;
        padding: 5px;
    }
}